#text1{
  font-family: "Dancing Script";
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-left: 10px;
  text-shadow: 2px 2px 4px #000000;
}

.pull-right{
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 30px;
  margin-right: 240px;
  text-shadow: 2px 2px 4px #000000;
}

.pull-text{
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.pull-left{
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 30px;
  position: absolute;
  left: 240px;
  text-shadow: 2px 2px 4px #000000;
}


.fa-beat {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

.heart {
  color:red;
  font-size: 10px;
  position: absolute;
  left: 180px;
  text-shadow: 2px 2px 4px #000000;
}

.heet {
  color:red;
  font-size: 10px;
  text-shadow: 2px 2px 4px #000000;
}

#test{
  display: inline;
}

#timer{
  font-size: 100px;
  display: block;
  margin: auto;
}

#timer1{
  font-size: 80px;
  display: block;
  margin: auto;
}

.gg{
  font-family: "Dancing Script";
  border-radius: 50px;
  border-color: red;
  font-weight: bolder;
}

.showcase-img1{
  background-image: url("../images/tar5.jpg");
  background-size: cover;
}

.showcase-img2{
  background-image: url("../images/tar6.jpg");
  background-size: cover;
}

.showcase-img3{
  background-image: url("../images/tar4.jpg");
  background-size: cover;
}

.showcase-img4{
  background-image: url("../images/tar7.jpg");
  background-size: cover;
}

.showcase-img5{
  background-image: url("../images/tar8.jpg");
  background-size: cover;
}


.showcase-text{
  padding: 5rem;
}

header{
  background: url("../images/tar11.png");
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 700px;
}

.gap{
	padding-top: 5px;
  padding-bottom: 5px;
	width : 130px;
	background: white;
  border-radius :10px;
  border: 5px solid white;
  color: black;
  font-size: 30px;
  opacity: 0.6;
  font-family: "Roboto Slab";
  text-shadow: 2px 2px 4px #666666;
  box-shadow: 5px 10px 18px #888888;
}
